.connection {
	background: url('/src/assets/images/our_contacts.png') bottom 20px left 10px no-repeat,
				linear-gradient(to bottom, #00000000 346px, #EEEEEE 33.5%);
	padding-bottom: 180px;
	&__container {
		display: flex;
	}
	&__image {
		align-self: flex-end;
		position: absolute;
		margin-right: -86px;
	}
	@media screen and (max-width: $sizeScreenLarge) {
		max-width: 100%;
		&__image {
			margin: 120px -240px 0 0;
		}
	}
	@media screen and (max-width: $sizeScreenMiddle) {
		&__container {
			flex-direction: column;
			padding: 0;
		}
		&__image {
			margin: 230px -30px 0 0;
		}
	}
	@media screen and (max-width: $sizeScreenSmall) {
		padding: 0;
		&__container {
			align-items: flex-end;
		}
		&__image {
			rotate: 15deg;
			margin: 0 20px -100px;
			height: 244px;
		}
	}
}

.contacts {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: $colorBackgroundGrayLight;
	width: 100%;
	max-width: 700px;
	padding: 100px 0 100px 100px;
	border-radius: 20px 0 0 20px;
	&__description {
		@include fontStyle(16px, 150%, 400, $colorGreyDark);
		margin: 18px 0 48px;
	}
	&__block {
		&:nth-child(3) {
			margin-bottom: 47px;
		}
		&:nth-child(4) {
			margin-bottom: 72px;
		}
		&:nth-child(5) {
			margin-bottom: 60px;
		}
	}
	&__subtitle {
		display: flex;
		align-items: center;
		@include fontStyle(18px, 24px, 400, $colorGreyDark);
		margin-bottom: 8px;
		&::before {
			content: '';
			margin-right: 18px;
			@include width-height(36px);
			background-size: 36px;
		}
	}
	&__text {
		max-width: 358px;
		@include fontStyle(22px, 150%);
		margin-left: 54px;
	}
	@media screen and (max-width: $sizeScreenLarge) {
		padding: 100px;
	}
	@media screen and (max-width: $sizeScreenMiddle) {
		max-width: 100%;
		border-radius: 0;
	}
	@media screen and (max-width: $sizeScreenSmall) {
		padding: 101px 30px 60px;
		justify-content: flex-end;
		&__description {
			margin: 15px 0 40px;
		}
		&__block {
			&:nth-child(n + 3) {
				margin-bottom: 30px
			}
		}
		&__subtitle {
			@include fontStyle(15px, 133%, 400, $colorGreyDark);
			margin-bottom: 0;
			&::before {
				margin-right: 9px;
			}
		}
		&__text {
			@include fontStyle(18px, 150%);
			margin-left: 27px;
		}
	}
}

.adress {
	&::before {
		background-image: url('/src/assets/icons/location.svg');
	}
}

.email {
	&::before {
		content: '';
		background-image: url('/src/assets/icons/mail.svg');
	}
}

.phone {
	&::before {
		content: '';
		background-image: url('/src/assets/icons/phone.svg');
	}
}

@media screen and (max-width: $sizeScreenSmall) {
	.phone, .email, .adress {
		&::before {
			@include width-height(18px);
			font-size: 18px;
			background-size: 18px;
		}
	}
}

.socials {
	display: flex;
	gap: 18px;
	&__facebook {
		&::before {
			background-image: url('/src/assets/icons/facebook.svg');
		}
	}
	&__whatsapp {
		&::before {
			background-image: url('/src/assets/icons/whatsapp.svg');
		}
	}
	&__facebook, &__whatsapp {
		&::before {
			content: '';
			@include width-height(38px);
			background-size: 38px;
			display: block;
		}
	}
	@media screen and (max-width: $sizeScreenSmall) {
		gap: 13px;
		&__facebook, &__whatsapp {
			&::before {
				@include width-height(26px);
				background-size: 26px;
			}
		}
	}
}

.feedback {
	background-color: $colorDark;
	width: 100%;
	max-width: 700px;
	padding: 100px 129px;
	border-radius: 0 20px 20px 0;
	&__title {
		color: $colorWhite;
	}
	&__description {
		@include fontStyle(16px, 150%, 400, $colorWhite);
		margin: 18px 0 53px;
	}
	@media screen and (max-width: $sizeScreenLarge) {

	}
	@media screen and (max-width: $sizeScreenMiddle) {
		max-width: 100%;
		border-radius: 0;
	}
	@media screen and (max-width: $sizeScreenSmall) {
		padding: 60px 30px;
		&__description {
			margin: 15px 0 40px;
			@include fontStyle(15px, 150%, 400, $colorWhite);
			white-space: nowrap;
		}
	}
}

.form {
	display: flex;
	flex-direction: column;
	position: relative;
	&__input {
		position: relative;
		@include borderStyle(1.5px solid #F2F2F280, 15px);
		@include width-height(100%, 59.25px);
		background-color: transparent;
		z-index: 1;
		padding: 15px;
		@include fontStyle(18px, 24px, 400, $colorBackgroundGray);
		margin-bottom: 52.75px;
	}
	&__label {
		position: relative;
		display: flex;
		@include fontStyle(18px, 24px, 300, $colorBackgroundGray);
		width: fit-content;
		padding: 0 5px;
		margin: 0 0 -12px 18px;
		z-index: 2;
		background-color: $colorDark;
	}
	&__textarea {
		background-color: transparent;
		@include borderStyle(1.5px solid #F2F2F280, 15px);
		@include fontStyle(18px, 24px, 400, $colorBackgroundGray);
		padding: 11.5px 15px;
		margin-bottom: 57px;
		resize: none;
	}
	&__button {
		display: flex;
		align-items: center;
		@include fontStyle(16px, 30px, 400, $colorWhite);
		background-color: $colorDark;
		&_icon {
			margin-right: 12px;
		}
	}
	&__form {
		margin: auto;
	}
	@media screen and (max-width: $sizeScreenSmall) {
		&__input, &__textarea {
			margin-bottom: 30px;
		}
	}
}

.error {
	position: absolute;
	display: none;
	align-items: center;
	box-shadow: $shadow;
	border-radius: 20px;
	width: 100%;
	height: 100px;
	background-color: $colorBackgroundGray;
	padding: 20px 40px 20px 20px;
	margin-top: 50px;
	z-index: 10;
	&__button {
		position: absolute;
		right: 20px;
		top: 20px;
		cursor: pointer;
		&::before {
			content: url('/src/assets/icons/close.svg');
		}
	}
}